<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.aquia.sp.viewer">

    <application android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".SPFileListActivity"/>

        <activity android:name=".SPValueListActivity"
            android:windowSoftInputMode="stateHidden"
            />

    </application>

</manifest>
